@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background: #f9f9f9;
	font-family: "Roboto", sans-serif;
}

.input{
	width: 100%;


}

.inputid{
	width: 70%;
	position: center;
}
button {
	width: fit-content;
	min-width: 100px;
	height: 45px;
	padding: 8px;
	border-radius: 5px;
	border: 2.5px solid #E0E1E4;
	box-shadow: 0px 0px 20px -20px;
	cursor: pointer;
	background-color: white;
	transition: all 0.2s ease-in-out 0ms;
	user-select: none;
	font-family: 'Poppins', sans-serif;
  }
  
  button:hover {
	background-color: #F2F2F2;
	box-shadow: 0px 0px 20px -18px;
  }
  
  button:active {
	transform: scale(0.95);
}
.headera {
	position: fixed;
	top: 0;
	left: 50;
	width: 100%;
	padding: 20px 12.5%;
	background:rgba(11, 130, 60, 0.4);
	display: flex;
	justify-content: space-between;
	align-items: right;
	z-index: 100;
	-webkit-box-align: right;
	-ms-flex-align: right;
	align-items: right;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: .5rem 1.5rem;
}



.containprofil {
	position: absolute;
	width: 75%;
	height: 550px;
	background: linear-gradient(rgba(11, 130, 60, 0.4), rgba(11, 183, 57, 0.4)), url(../assets/imagenes/medicamentos.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 40px;
	margin-top: 90px;
	margin-left: 150px;
}

.containprofil .barnav {
	position: absolute;
	top: 0;
	left: 0;
	width: 58%;
	height: 100%;
	background-color: transparent;
	padding: 10%;
	color: black;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.negrita {
	font-weight: bold;
	color: white;
}

.logoA {
	color: #000000;
	font-size: 1rem;
	font-weight: bold;
}

.logoA img {
	border-radius: 20%;
	width: 6rem;
	padding: 0 .2rem;
	position: left;
}

.usercircle {
	margin-top: 10px;
	font-size: 20px;
}

.logoA:hover {
	text-decoration: none;
}

.barnav {
	position: inherit;
	margin-left: 10rem;
}

.barnav a {
	position: relative;
	font-size: 17px;
	color: black;
	text-decoration: none;
	font-weight: bold;
	margin-right: 50px;
}

.barnav a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -6px;
	width: 100%;
	height: 2px;
	background: white;
	border-radius: 5px;
	transform: translateY(10px);
	opacity: 0;
	transition: .5s;
}

.barnav a:hover::after {
	transform: translate(0);
	opacity: 1;
}

.shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav {
font-size: 10px;
	height: 100px;
	min-width: 50px;
}

.tab-content {
	flex: 1;
}

.form-group {
	margin-bottom: 1.5rem;
}

.form-control{
	width: 700px;


}

.bx {
	font-size: 50px;
}

.titlename {
	text-align: center;
}

.nav-pills a.nav-link {
	padding: 15px 20px;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	color: #333;
}

.nav-pills a.nav-link i {
	width: 20px;
}

.img-circle img {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 5px solid #fff;
}

#title {
	font-size: 50px;
	padding-top: 40px;
}

.logous {
	font-size: 20px;
	border-radius: 10%;
	width: 8rem;
	padding: 0 .5rem;
	text-decoration: none;
}

.containprofil {
	padding-left: 170px;
	padding-right: 170px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

.prof-box .form-box {
	width: 100%;
	height: 100%;
	background: transparent;
	backdrop-filter: blur(20px);
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
.backgraund{
    width: 100%;
    height: 100vh;
    background: url(../assets/imagenes/laboratorio.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position:absolute;
}

.conteprueba{
border-radius: 0px;
border-style: solid;
border-color: aqua;
}

.contegen{
	position:absolute;
	background-color: white;
	border-radius: 40px;
	display: block;
	margin-left: auto;
	width: 90%;
	height: 700px;
	background:rgba(11, 130, 60, 0.4);

}

.containprofile{
	width: 700px;
	height: auto;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 100px;
	position: center	;
	display: flex;

	
	}
.contenedorbaja{
padding-left: 80px;
}

.contenavs{
width: 20px;
}

.contenavs2{
	width: 20px;
	padding-left: 15px;
}
.contenavs3{
	width: 20px;
	padding-left: 20px;
	padding-top: 15px;
}
.textaco{
	font-size: 20px;	
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.microtext{
	font-size: medium;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.macrotext{
text-align: center;
font-size: 30px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.macrotext2{

	padding-left: 50px;
	font-size: 30px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	}

	.macrotext3{
		padding-left: 540px;
		font-size: 30px;
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		}
		
.conteauxiliar{
	padding-left: 70px;


}

.Megacontenedor{

width: 30%;
position: center	;

}