@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background: #f9f9f9;
	font-family: "Roboto", sans-serif;
}

.headera {
	position: fixed;
	top: 0;
	left: 50;
	width: 100%;
	padding: 20px 12.5%;
	background: rgb(57, 159, 57);
	display: flex;
	justify-content: space-between;
	align-items: right;
	z-index: 100;
	-webkit-box-align: right;
	-ms-flex-align: right;
	align-items: right;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: .5rem 1.5rem;
}

.backgraund {
	width: 100%;
	height: 100vh;
	background-color: linear-gradient(rgba(172, 249, 204, 0.4), rgba(110, 249, 147, 0.4));
	background-size: cover;
	background-position: center;
	position: absolute;
}

.containprofil {
	position: absolute;
	width: 75%;
	height: 550px;
	background: linear-gradient(rgba(11, 130, 60, 0.4), rgba(11, 183, 57, 0.4)), url(../assets/imagenes/medicamentos.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 40px;
	margin-top: 90px;
	margin-left: 150px;
}

.containprofil .barnav {
	position: absolute;
	top: 0;
	left: 0;
	width: 58%;
	height: 100%;
	background-color: transparent;
	padding: 10%;
	color: black;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.negrita {
	font-weight: bold;
}

.logoA {
	color: #000000;
	font-size: 1rem;
	font-weight: bold;
}

.logoA img {
	border-radius: 20%;
	width: 6rem;
	padding: 0 .2rem;
	position: left;
}

.usercircle {
	margin-top: 10px;
	font-size: 20px;
}

.logoA:hover {
	text-decoration: none;
}

.barnav {
	position: inherit;
	margin-left: 10rem;
}

.barnav a {
	position: relative;
	font-size: 17px;
	color: black;
	text-decoration: none;
	font-weight: bold;
	margin-right: 50px;
}

.barnav a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -6px;
	width: 100%;
	height: 2px;
	background: white;
	border-radius: 5px;
	transform: translateY(10px);
	opacity: 0;
	transition: .5s;
}

.barnav a:hover::after {
	transform: translate(0);
	opacity: 1;
}

.shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav {
font-size: 10px;
	height: 100px;
	min-width: 50px;
}

.tab-content {
	flex: 1;
}

.form-group {
	margin-bottom: 1.5rem;
}

.bx {
	font-size: 50px;
}

.titlename {
	text-align: center;
}

.nav-pills a.nav-link {
	padding: 15px 20px;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	color: #333;
}

.nav-pills a.nav-link i {
	width: 20px;
}

.img-circle img {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 5px solid #fff;
}

#title {
	font-size: 50px;
	padding-top: 40px;
}

.logous {
	font-size: 20px;
	border-radius: 10%;
	width: 8rem;
	padding: 0 .5rem;
	text-decoration: none;
}

.containprofil {
	padding-left: 170px;
	padding-right: 170px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

.prof-box .form-box {
	width: 100%;
	height: 100%;
	background: transparent;
	backdrop-filter: blur(20px);
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}